.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  transition: 0.3s ease;
}

.overlay-icon {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: translate(47px,-73px);
  pointer-events: none;
}

.profile__image-container:hover .profile__image {
  filter: brightness(0.2);
}

.profile__image-container:hover .overlay-icon {
  opacity: 1;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}